html {
  touch-action: manipulation;
  height: 100%;
  user-select: none;
}

body {
  height: 100%;
  overflow-y: scroll;
  overflow: hidden;
  background-color: #305DB6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  color: rgb(41, 41, 41);
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  font-size: 36px;
  color: white;
}

h5 {
  font-weight: 500;
  color: gray;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.public-DraftStyleDefault-block {
  background-image: linear-gradient(to right, #fafafa 0px, transparent 10px), linear-gradient(to left, #fafafa 0px, transparent 10px), repeating-linear-gradient(#fafafa, #fafafa 30px, #ccc 32px, #ccc 32px, #fafafa 31px);
}

/* div { outline: 1px dotted pink } */

/* p   { outline: 1px solid green }
a   { outline: 2px solid yellow }
li  { outline: 1px dashed cyan }
img { outline: 1px solid purple} */